<div class="sw-dateInput-popup-content sw-calendar">
   <div class="sw-calendar-selectYear" ng-show="yearsPicker">
      <div class="sw-calendar-selectYear-col" ng-repeat="yearsLine in yearsRange">
         <div class="sw-calendar-selectYear-year"
				 ng-repeat="year in yearsLine"
				 ng-click="changeYear(year)">{{year}}</div>
      </div>
   </div>
	<div class="sw-calendar-monthAndWeek" ng-hide="yearsPicker">
		<table class="sw-calendar-selectMonth" >
			<tr class="sw-calendar-selectMonth-row">
				<td class="sw-calendar-selectMonth-month"
					 ng-repeat="firstHalf in firstHalfYear"
					 ng-click="changeMonth(firstHalf.monthNo)">{{firstHalf.monthName}}</td>
			</tr>
			<tr class="sw-calendar-selectMonth-row">
				<td class="sw-calendar-selectMonth-month"
					 ng-repeat="secondHalf in secondHalfYear"
					 ng-click="changeMonth(secondHalf.monthNo)">{{secondHalf.monthName}}</td>
			</tr>
		</table>

		<table class="sw-calendar-week">
			<thead class="sw-calendar-week-header">
				<th class="sw-calendar-week-dayName" ng-repeat="dayTitle in weekdayTitles">
					<div class="sw-calendar-week-dayName-item">{{dayTitle}}</div>
				</th>
			</thead>
			<tbody class="sw-calendar-week-body">
				<tr class="sw-calendar-week-days" ng-repeat="week in daysOfMonth">
					<td class="sw-calendar-week-day
								{{{true:'sw-calendar-week-adjacentMonth', false: ''}[isAdjacentMonth(dayNo, $parent.$index)]}}
								{{{true:'sw-calendar-week-currentDate', false: ''}[isCurrentDate(dayNo, $parent.$index)]}}
								{{{true:'sw-calendar-week-selectedDate', false: ''}[isSelectedDate(dayNo, $parent.$index)]}}"
						 ng-repeat="dayNo in week" ng-click="setDate(dayNo, $parent.$index)">
						<div class="sw-calendar-week-day-item">
							{{dayNo}}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>