<div>
    <div sw-render="true" sw-render-to="'.popup-injectable-template'" class="popup-title" >
        <span>
            <button ng-click="detailsApi.closePublicationDetails()"
                    class="sw-input sw-input-wrapper sw-input-button-wrapper sw-input-button ng-scope"
                    type="button"></button>
        </span>
        <span sw-localize="{{labelKey}}">test</span>
        <span></span>
    </div>

    <div class="column-layout">
        <div class="col">

            <div class="img-block studycourse-cover" ng-class="{'preloader': isAddingToMyBooks}">

            </div>

            <div class="btn-block btn-download-book-wrap" ng-if="detailsApi.publication.personal&&!isAuthor">
                <span class="m-button__dark" ng-click="deletePublication()">Remove</span>
            </div>

            <div class="btn-block btn-download-book-wrap" ng-if="!detailsApi.isEditor">
                <span class="m-button__dark" ng-click="beginNewStudy()">New Study Course</span>
            </div>

            <div class="btn-block btn-open-book-wrap" ng-if="isAuthorInReadMode">
               <a ng-href="{{editSyllabusLink}}" target="_blank">Edit Syllabus</a>
            </div>

            <div class="btn-block btn-download-book-wrap" ng-if="detailsApi.isEditor&&isAuthor">
                <span ng-click="editCourse()">Edit Syllabus</span>
            </div>

        </div>

        <div class="col">

            <div class="book-name-block">
                <p ng-bind="publication.name"></p>
                <p><span ng-bind="publication.author"></span></p>
            </div>

            <ul class="book-info-tabs">
                <li ng-click="showMainPublicationData()" ng-class="{'active' : isMainPublicationData}"><span>Info</span></li>
                <li ng-click="showAdditionalPublicationData()" ng-class="{'active' : !isMainPublicationData}">
                    <span>Content</span>
                </li>
            </ul>

            <div class="book-stats-block" ng-if="isMainPublicationData">
                <!-- <p><span class="publication-category" ng-bind="publication.category"></span></p> -->
                <p>
                    <span>Time:</span>
                <span ng-show="!detailsApi.isEditor && publication.readingDuration > 0">
                   <span ng-bind="publication.readingDuration | TimeDurationFilter"></span> /
                </span>
                    <span ng-bind="publication.readingTime | TimeDurationFilter"></span><span ng-if="::showDifficulty">,
                    <span>difficulty:</span> <span ng-bind="publication.difficulty"></span></span>
                    <span ng-if="!detailsApi.isEditor">
                        <sw-study-progress progress="publication.readingProgress" numbercircls="5"></sw-study-progress>
                    </span>
                </p>
                <p><span>Items:</span> <span>{{countItems(publication.studyCourseItems)}}</span></p>
                <p>
                    <!-- <span ng-bind="publication.description"></span> -->
                </p>
            </div>
            <div ng-if="!isMainPublicationData">
                <ul class="book-related-block">
                    <li ng-repeat="relatedPublication in relatedPublications">
                        <div class="book-related-item-block" ng-if="isPublication(relatedPublication) || isStudyCourse(relatedPublication)">
                            <span>
                              <img ng-src="{{getCoverSrc(relatedPublication)}}" ng-if="!isStudyCourse(relatedPublication)" />
                              <span ng-if="isStudyCourse(relatedPublication)" class="study-course-cover"></span>
                            </span>
                            <span>
                                <p ng-bind="relatedPublication.name"></p>
                                <p ng-bind="relatedPublication.author"></p>

                                <p class="studyGuide-info">
                                    <span ng-if="!relatedPublication.studyGuideName">&nbsp;</span>
                                    <span class="book-note-block" ng-if="relatedPublication.studyGuideName">
                                        <span>Book Note: </span><span ng-bind="relatedPublication.studyGuideName"></span>, <span ng-bind="relatedPublication.studyGuideAuthor"></span>
                                    </span>
                                </p>
                                
                                <p><span class="category-name" ng-if="relatedPublication.type !== 'StudyGuide'" ng-bind="relatedPublication.category"></span> time: <span class="value-block" ng-bind="relatedPublication.readingTime | TimeDurationFilter"></span><span ng-if="::showDifficulty">, difficulty: <span class="value-block" ng-bind="relatedPublication.difficulty"></span></span></p>
                                <!-- <p ng-if="relatedPublication.type === 'StudyGuide'">Book Notes</p> -->
                            </span>
                        </div>
                        <!-- <div class="book-related-item-block colored" ng-if="isSection(relatedPublication)">
                            <span><i class="section-cover"></i></span>
                            <span><p>{{relatedPublication.title}}</p></span>
                        </div> Bug #1759-->
                        <div class="book-related-item-block" ng-if="isVocabularyAssessment(relatedPublication)"
                             ng-click="startVocabularyAssessment()">
                            <span><i class="assessment-cover">V</i></span>
                            <span><p>{{relatedPublication.text}}</p></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>