<div class="app-menu {{stateClass}}" sw-custom-scroll>
   <i class="menuPop_arrow"></i>
   <div ng-repeat="menuSection in ::menuSections" class="sw-menuSection">
      <ul class="menuSection_content">
         <li ng-repeat="menuItem in ::menuSection" 
             class="sw-popup-close menuItemWrap m-menuItem__{{::menuItem}}" data-ng-show="::isMenuItemVisible(menuItem)">

            <a class="sw-menuItem sw-{{::menuItem}}" tabindex="0" sw-hot-key-click ng-click="selectMenuItem(menuItem)">
               <span class="sw-value" ng-bind="::getMenuItemLocalizedName(menuItem)"></span>
            </a>
         </li>
      </ul>
   </div>
</div>
