<body>
	<p>Hello, {{firstName}} {{lastName}}!</p>
	<p>Thank you for signing up for {{brandName}}!</p>
	<br><br>
	<p>Click the link below to finish a registration process:</p>
	<a href={{link}} style='line-height: 1.5em;'>{{link}}</a>
	<p>Or enter this code to field on the registration form:</p>
	<p>{{сonfirmationCode}}</p>
	<br><br>
	<p>If you did not sing up to create the account you can safely ignore this email.</p>
	<p>If you want cancel registration process <a href={{declinedLink}}>click here</a>.</p>
	<br><br>
	<p>We hope you are enjoying the {{brandName}} application!</p>
	<br><br>
	<p>Please, do not reply on this letter.</p>
</body>
