<body>
	<p>Did you forget your {{brandName}} password? Click on this link to change your password:</p>
	<a href={{link}} style='line-height: 1.5em;'>{{link}}</a>
	<br><br>
	<p>Or enter this code to change password field:</p>
	<p>{{сonfirmationCode}}</p>
	<br><br>
	<p>If you do not want to change your password, then simply ignore this e-mail and no changes will be made.</p>
	<p>We hope you are enjoying the {{brandName}} application!</p>
   <br><br>
   <p>Please, do not reply on this letter.</p>
</body>
