{{#if newUser}}
	<body style='line-height: 10px;'>
		<p>Hello, {{firstName}} {{lastName}}!</p>
		<p>You've joined a community of {{brandFullName}}!</p>
		<p>Now you can use {{brandName}} application.</p>
		<p style='margin-bottom: 28px;'>To sign in into your account use:</p>
			<p>Login:	{{email}} </p>
			<p>Password:  {{password}}</p>
         <a style="background: #51639b; padding: 10px; display: inline-block; color: #fff; text-decoration: none; border-radius: 5px;" href="{{link}}">Open Library >></a>
			<br><br>
			<p>Enjoy using our application!</p>
		<br><br>
		<p>Please, do not reply on this letter.</p>
	</body>
{{else}}
	<body style='line-height: 10px;'>
		<p>Hello, {{firstName}} {{lastName}}!</p>
		<p>Your password for {{brandFullName}} has been reset!</p>
		<p style='margin-bottom: 26px;'>Please use your new</p>
		<p>password: {{password}}</p>
		<p style='margin-top: 26px;'>to sign in!</p>
		<p>We hope you are enjoing the {{brandName}} application</p>
		<br><br>
		<p>Please, do not reply on this letter.</p>
	</body>
{{/if}}