<div class="app-resetpassword" ng-form="form">

   <div class="app-resetpassword-title" ng-show="showRegistrationBlock" sw-localize="ResetPassword.header.text"></div>
	<div class="app-resetpassword-wrapper" ng-show="showRegistrationBlock" sw-hot-key="{enter: 'registerTask()'}">
		<div class="app-resetpassword-form-block">
			<label>
            <p sw-localize="ResetPassword.resetPassword.text"></p>
            <br/>
            <p>
               <input
                        class="sw-input-email"
                        name="email"
                        type="email"
                        ng-model="resetPasswordInfo.email"
                        sw-validate="validateEmail(resetPasswordInfo.email)"
                        sw-localize-attr="{placeholder:'RegisterUserProfile.profile.email.label'}"
               />
               <span class="sw-validation-error">{{errorMessageEmail}}</span>
            </p>
			</label>
			<i>
				<button class="sw-input sw-input-button" ng-click="registerTask()" sw-localize="ResetPassword.button.proceed.label"></button>
			</i>
		</div>
	</div>

   <div class="app-resetpassword-title" ng-show="showConfirmationBlock" sw-localize="ResetPassword.header.text"></div>
   <div class="app-resetpassword-wrapper" ng-show="showConfirmationBlock" sw-hot-key="{enter: 'confirmTask()'}">
      <div class="app-resetpassword-form-block">
         <label>
            <p sw-localize="ResetPassword.confirmation.instructions.text"></p>
            <br/>
            <input
                  class="sw-input
                  sw-input-text"
                  type="text"
                  ng-model="resetPasswordInfo.taskConfirmationHashCode"
                  sw-localize-attr="{placeholder:'ResetPassword.confirmation.instructions.placeholder'}">
            <span class="sw-validation-error"></span>
         </label>
         <i>
            <button class="sw-input sw-input-button" ng-click="confirmTask()" sw-localize="ResetPassword.button.confirm.label"></button>
         </i>
        </div>
    </div>

   <div class="app-resetpassword-title" ng-show="showResetPasswordBlock" sw-localize="ResetPassword.header.text"></div>
   <div class="app-resetpassword-wrapper" ng-show="showResetPasswordBlock" sw-hot-key="{enter: 'reset()'}">
      <div class="app-resetpassword-form-block">
         <label>
            <input
                  name="password"
                  class="sw-input sw-input-text"
                  type="password"
                  ng-model="resetPasswordInfo.password"
                  sw-validate="validatePassword()"
                  sw-localize-attr="{placeholder:'ResetPassword.newpassword.label'}">
            <span class="error-message formRow_validationError" sw-error-for-name="'password'"></span>
         </label>
         <label>
            <input
                  name="confirmPassword"
                  class="sw-input sw-input-text"
                  type="password"
                  ng-model="confirmPassword"
                  sw-validate="validatePasswordConfirmation()"
                  sw-localize-attr="{placeholder:'ResetPassword.confirm.label'}">
            <span class="error-message formRow_validationError" sw-error-for-name="'confirmPassword'"></span>
         </label>
         <i>
            <button class="sw-input sw-input-button" ng-click="reset()" sw-localize="ResetPassword.button.changepassword.label"></button>
         </i>
      </div>
   </div>

</div>