<div ng-show="isVisible">
   <div class="hide-element"></div>
   <div class="recent-books-toolbar">
      <sw-carousel items="books" ng-if="isVisible">
         <div ng-repeat="publication in books" class="recent-book-item clickable-block"
              ng-click="openPublication(publication)">
            <span class="shadow-gen"></span>

            <div class="pic-block">
               <img ng-src="{{::getThumbnailByPublication(publication)}}" ng-if="::!isStudyCourse(publication)"/>
               <i class="study-course-cover" ng-if="::isStudyCourse(publication)"></i>
            </div>
            <span class="book-name" dir="auto">{{::publication.title}}</span>
            <span class="author" dir="auto">{{::publication.author}}</span>
         </div>
      </sw-carousel>
   </div>
</div>


