<div ng-form="form">
   <section>
   	<div class="pic-block"></div>
      <p sw-localize="ManageDiscussionTask.content.title.label"></p>
      <sw-input type="text" name="topic" sw-validate="validate(discussionData.topic)"
                ng-model="discussionData.topic"></sw-input>
   </section>
   <!--<section>-->
      <!--<p sw-localize="ManageDiscussionTask.content.description.label"></p>-->
      <!--<textarea name="description" ng-model="discussionData.description"></textarea>-->
   <!--</section>-->
</div>